[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
marshmallow-sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-bcrypt = "*"
flask-restful = "*"
python-dotenv = {extras = ["cli"], version = "*"}
flask-cors = "*"
flask-jwt = "*"
flask-jwt-extended = "*"
flask-migrate = "*"
flask-script = "*"
alembic = "*"
jinja2 = "*"
flask-cli = "*"
psycopg2-binary = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.8"
